<div class="row">
  <h3>Welcome to Maneuver!</h3>
</div>

<div class="row">
  <ul>
    <li><%= link_to "New App", new_app_url %></li>
    <li><%= link_to "New Host", new_host_url %></li>
    <li><%= link_to "New Key", new_key_url %></li>
  </ul>
</div>

<div class="row">
  <%= concept("app/cell/grid") %>
</div>
