<div class="header">
  <h1><%= @app.name %></h1>
  <%= link_to "Edit", edit_app_path(@app) %>
  <%= link_to "Delete", app_path(@app), method: :delete %>
  <%= link_to "Home", root_path %>
</div>

<div class="row">
  <h3>Hosts</h3>
</div>
<hr>
